<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WeChat</title>
    <link rel="stylesheet" href="./css/index.css">
</head>

<body>
    <div id="wrapper">
        <div id="nav" class="box">
            <div class="poto">
                <img v-bind:src="src" alt="">
            </div>
            <ul>
                <li v-for="todo in todos" v-bind:title='todo.text'>
                    {{todo.text}}
                </li>
            </ul>
            <span v-bind:title="lot">{{lot}}</span>
        </div>
        <div id="list">
            <div class="left">
                <div class="top box">
                    <div class="seach">
                        <input type="text" v-model='search' @input='handleSearch' placeholder="搜索">
                        <img src="img/seach.jpg" alt="">
                    </div>

                    <span v-bind:title="tit">+</span>
                </div>
                <div class="list_text">
                    <ul>
                        <li class="tel" v-for="(item, index) in alist" @click="whoIndex = index" :key='"a" + index + Math.random()'>
                            <img v-bind:src="item.poto" alt="">
                            <div class="name">
                                <p>{{item.name}}</p>
                                <p>{{item.text}}</p>
                            </div>
                            <div id="conter">
                                <div class="conter_name">
                                    <p>{{item.name}}</p>
                                    <span>{{item.icon}}</span>
                                </div>
                                <div v-show='index === whoIndex'>
                                    <div class="text">
                                        <div v-for='chart in item.content' :key='"b" + index + Math.random()'>{{ chart.chart }}</div>
                                    </div>
                                    <div class="chat">
                                        <div class="icon">
                                            <span v-for="tip in list" v-bind:title="tip.tips">{{tip.tips}}</span>
                                        </div>
                                        <textarea name="" id="" cols="30" rows="10" class="box">

                                    </textarea>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
            <div id="bj"></div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./js/alist.js"></script>
    <script src="./js/index.js"></script>
</body>

</html>